// diff color
$primary-hue: 290 !default;
$primary-50: hsl($primary-hue, 20%, 94%) !default;
$primary-100: hsl($primary-hue, 18%, 86%) !default;
$primary-200: hsl($primary-hue, 16%, 77%) !default;
$primary-300: hsl($primary-hue, 14%, 68%) !default;
$primary-400: hsl($primary-hue, 12%, 59%) !default;
$primary-500: hsl($primary-hue, 10%, 50%) !default;
$primary-600: hsl($primary-hue, 15%, 41%) !default;
$primary-700: hsl($primary-hue, 20%, 32%) !default;
$primary-800: hsl($primary-hue, 25%, 23%) !default;
$primary-900: hsl($primary-hue, 30%, 15%) !default;